<header class="header">
  <div class="header__logo">
    Rank Choice Voting
  </div>
  <div class="header__login-container">
    <% if (user !=undefined) { %>
    <%= user.username %>
    <form action="logout" method="post">
      <button class="btn">Logout</button>
    </form>
    <% } else { %>
    <a href="login" class="btn">Sign in</a>
    <a href="signup" class="btn btn--accent">Sign up</a>
    <% } %>
  </div>
</header>