<% layout('layouts/boilerplate') %>
<style>
  ::-webkit-scrollbar {
  display: none;
}
</style>
  <div class="container-md my-3">
    <h1 class="text-center">Create Poll</h1>
    <form class="mx-auto" action="/poll/create" method="POST" style="max-width: 500px;">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="choiceCountInput" class="form-label">Number of choices</label>
        <input type="number" id="choiceCountInput" name="choiceCountInput" class="form-control" value="2" min="2" max="10">
      </div>
      <div id="option-container">
        <div class="mb-3">
          <label for="option1" class="form-label">Option 1</label>
          <input type="text" id="option1" name="option1" class="form-control">
        </div>
        <div class="mb-3">
          <label for="option2" class="form-label">Option 2</label>
          <input type="text" id="option2" name="option2" class="form-control">
        </div>
      </div>
      <button class="btn btn-primary">Create</button>
    </form>
  </div>
  <script src="/js/choiceCountUpdater.js">